<div class="sidebar__footer">
    {% include 'components/atoms/signature.html.twig' with { 'signature': signature|default('edited by Killian Herzer') } %}
    {% include 'components/atoms/marquee.html.twig' %}
</div>