<div class="marquee-mini">
    <div class="marquee-track" id="marquee-track">
        <div class="marquee-item">{{ text|default('JEAN-MICHEL STATS • DISPONIBLE MAINTENANT • PROFIL VÉRIFIÉ • TOP TALENT •&nbsp;') }}</div>
    </div>
</div>