<div class="marquee-mini">
    <div class="marquee-track" id="marquee-track">
        {% set content = 'JEAN-MICHEL STATS • DISPONIBLE MAINTENANT • PROFIL VÉRIFIÉ • TOP TALENT'|trans %}
        <div class="marquee-item">{{ content }}</div>
        <div class="marquee-item">{{ content }}</div>
        <div class="marquee-item">{{ content }}</div>
        <div class="marquee-item">{{ content }}</div>
    </div>
</div>